footer{
    height: fit-content;
}
.footer-form-section{

    height: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2EEEA;
}
.form-text-box h3{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
letter-spacing: 1.1px;
margin: auto;
text-align: center;
text-transform: uppercase;
margin-bottom: 16px;

color: #232323;
}
.input::placeholder{
font-family: 'Mulish', sans-serif;
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.5px;
color: #797979;
}
.input{
    padding-left: 23px;
font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* identical to box height */
letter-spacing: 1.5px;

color: #232323;
}
.form-text-box p{
    width: 691px;
    text-align: center;
    margin-bottom: 41px;
    margin: auto;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 41px;

    color: #232323;
}

.subscription-form{
    width: 791px;
    display: flex;
    justify-content: space-between;
}
.subscription-form input{
    border: none;
    border-radius: 0%;
}
.subscription-form button{
    width: 133px;
    border: none;
    border-radius: 0%;
background-color: #3D8B74;
color: #FFFFFF;
font-family: 'Josefin Sans', sans-serif;
display: flex;
justify-content: center;
align-items: center;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;

/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 1.1px;
text-transform: uppercase;

color: #FFFFFF;
}
.subscription-form button:hover{
    background-color: #40A385;
}
.subscription-form input:focus{
    outline: none;
box-shadow: none;
border-color:  #3D8B74; ;
}
.name-input{
width: 245px;
height: 55px;
}
.email-input{
    width:368px;
    height: 55px;
}
.author-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.footer-pic{

    border-radius: 50%;
    margin-bottom: 29px;
    margin-top: 0px;
}
.footer-socials-section{
    background-color: #232323;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
    
}
.footer-socials{
    display: flex;
    justify-content: center;
    padding-left: 45px;
}
.footer-socials-section h3{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 38px;
letter-spacing: 1.1px;
text-transform: uppercase;

color: #FFFFFF;
}
.footer-icon{
    width: 20px;
    filter: invert(95%) sepia(100%) saturate(19%) hue-rotate(279deg) brightness(105%) contrast(104%);
    margin-right: 32px;
}
.footer-icon:hover{
    filter: invert(54%) sepia(50%) saturate(429%) hue-rotate(111deg) brightness(93%) contrast(89%);
}
.copyright-div{
    height: 162px;
    width: 100%;
    background-color: #323232;
    margin-top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* identical to box height */
text-align: center;
letter-spacing: 1.5px;


}
.copyright-div p{
    padding: 45px;
}
.socials-content-box{
    padding-top:58px;

}

@media  screen and (min-width : 200px) and (max-width: 1250px) {
 .footer-form-section{
    flex-direction: column;
    width: 100%;
    height: 500px;
 }   
 
 .form-text-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: space-between;
 }
 .form-text-box p{
    width: 100%;
    margin: auto;
 }
 .subscription-form{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 100%;

 }
 .input{
    width: 70%;
 }
 .submit{
    height: 55px;
 }
}