header{
    margin-bottom: 57px;
}

.site-nav{

    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 77px;
    align-items: center;
    margin-bottom: calc(55px - 23px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

.header-link{
    font-family: 'Mullish', sans-serif;
    font-weight: 400;
    color: #818181;
    text-decoration: none;
    font-size: 18px;
    margin-right: 46px;
}
.header-card{
  background-image: url(./media/anons.png);
  background-position: center;
  background-size: cover;
  width: 93%;
  margin: auto;
}
.header-title{
font-family: 'Josefin Sans', sans-serif;
color: #232323;
font-weight: 400;
font-size: 38px;
line-height: 38px;
margin-top: 5px;
margin-left: 31px;
margin-right: 350px;
letter-spacing: 1.1px;
text-transform: uppercase;
}
.marathone-link{
    margin-right: 48px;
}
.home-link{
    font-weight: 800;
    color: #3D8B74;
}
.anons-image{
    width: 1347px;
}
.header-card{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    height: 595px;
}
.card-content-box{
    position: absolute;
    width: 723px;
    height: 365px;
    
    /* left: calc(50% - 723px/2 + 1px);
    top: calc(45% - 365px/2); */

background: rgba(255, 255, 255, 0.75);;
top: 25%;
}
.card-content-box h2{
position: absolute;
width: 406px;
height: 56px;
left: calc(50% - 406px/2 + 2px);
top: calc(50% - 56px/2 - 98.5px);


font-family: 'Josefin Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
text-align: center;
letter-spacing: 1.1px;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #232323;
}
.card-content-box p{
position: absolute;
width: 549px;
height: 72px;
left: calc(50% - 549px/2 + 1px);
top: calc(50% - 72px/2 - 9.5px);

font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;
letter-spacing: 1.5px;

color: #232323;


}
.card-button{
position: absolute;
width: 292px;
height: 55px;
left: calc(50% - 292px/2 + 1.5px);
top: calc(50% - 55px/2 + 93px);

background: #3D8B74;
font-family: 'Josefin Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
letter-spacing: 1.1px;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;


}
.card-button:hover{
    background-color:#40A385 ;
}
.content-sorter{
    margin-bottom: 37px;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
    #menu-toggle {
        display: none;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
  display: block;
  background-color:#232323;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.links-content-box{
    list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.links-content-box > a {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





@media  screen and (min-width : 200px) and (max-width: 1250px) {
    .site-nav{
        position: relative;
        justify-content: space-between;
        padding: 1em;
    }
    .header-title{
        margin: 0px;
        font-size: 23px;
        top: 25%;
        left: 10%;
    }
    .header-card{
        width: 90%;
        margin: auto;
    }
    
    .anons-image{
        width: 100%;
        height: auto;
        background-size: contain;
    }
    .card-content-box{
        width: 400px;

    }
    .card-content-box h2{
        margin-bottom: 10px;
        position: relative;
    }
    .card-content-box p{
        width: 80%;
        margin: 0;
        height: auto;
        top: calc(15%);
        left: 10% ;
        position: relative;
    }
  
  
    
}

@media screen and (max-width: 800px) {
     .links-content-box{
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    }
      #menu-toggle ~ .links-content-box a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
      #menu-toggle:checked ~ .links-content-box a {
    border: 1px solid #818181;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
    .links-content-box > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color:#232323;
    background-color: #FFFFFF;
  }
   .links-content-box > a:not(:last-child) {
    border-bottom: 1px solid #818181;
  } 
  .menu-button-container {
    display: flex;
    }
    @media screen and (max-width:390px) {
    .card-content-box h2{
      font-size: 20px;
      width: 80%;
      margin: auto;
      text-align: center;
      position: relative;
      top: 12%;
      left: 0;

    }   
    .card-content-box{
      width: 100%;
    }
    
    }
}
