main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 97px;
}
.content-item{

    height: 221px;
    width: 792px;
    display: flex;
    margin-bottom: 57px;
}
.left-arrow{
    margin-right: 14px;
}
.right-arrow{
    margin-left: 14px;
}
.content-section{
    margin-left: 137px;
    width: 62%;
}
.item-text-box{
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.item-headline{
    margin-bottom:17px;
    text-transform: uppercase;
    font-size: 24px;
font-family: 'Josefin Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 24px;
letter-spacing: 1.1px;
text-transform: uppercase;

color: #232323;

}
.sorter-button{
    border: none;
    background-color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    cursor: pointer;

    letter-spacing: 1.5px;

    color: #232323;
    margin-right: 45px;
}
#all-sorter{
    margin-right: 40px;
}
#receipts-sorter{
    margin-right: 34px;
}
#travelings-sorter{
    margin-right: 36px;
}
.btn-selected{
    font-weight: 800;
    color: #3D8B74;
    margin-right: 40px;
}
.item-text{
    margin-bottom: 18px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;

    color: #232323;
}
.item-img-container{
height: 221px;
width: 224px;
left: 0px;
top: 0px;
border-radius: 0px;
margin-right: 48px;
position: relative

}
.item-img{
    width: 100%;
    height: 100%;
    position: relative;

}
.item-img:hover{
    opacity: 20%;
}
.img-info-container{
    position: absolute;
    top: 28px;
    left: 32px;
    z-index: -1;
}
.item-link{
font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.1px;
text-decoration-line: underline;

color: #232323;
margin-bottom: 22px;
}
.icon{
    margin-right: 32px;
}
.pinterest-icon{
    filter: hue-rotate(167deg) saturate(39%) brightness(39%);

}

.facebook-icon{
    filter: hue-rotate(150deg)  saturate(100%);
}
.extra-section{
    width: 280px;
}
.main-socials-nav{

    display: flex;
    margin-top: 14px;
    margin-bottom: 53px;
}
.img-info-container p{
    font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 24px;

/* or 150% */
letter-spacing: 1.5px;

color: #232323;


}
.img-date-info{
    margin-bottom: 26px;
}
.tag-cloud h3{
    text-transform: uppercase;
    font-size: 20px;
font-weight: 700;
font-size: 20px;
line-height: 20px;
letter-spacing: 1.1px;
margin-bottom: 30px;
}

.tag-button{
    height: 45px;
    border: none;
    width: fit-content;
    background-color: #3D8B74;
    color: #FFFFFF;


font-family: 'Mulish', sans-serif;
padding: 0 12px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* identical to box height */
letter-spacing: 1.5px;


cursor: pointer;

    margin-right: 14px;
    margin-bottom: 14px;
}
.tag-button:hover{
    background-color: #40A385;
}

.tag-link{
font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* identical to box height */
letter-spacing: 1.5px;
text-decoration-line: underline;

color: #232323;

}
.icon{
    width: 20px; 
    filter: invert(21%) sepia(98%) saturate(22%) hue-rotate(13deg) brightness(102%) contrast(94%);
}
.icon:hover{
        filter: invert(56%) sepia(12%) saturate(1634%) hue-rotate(111deg) brightness(97%) contrast(90%);
}

.tag-cloud{
    margin-bottom: 9px;
}
.tag-cloud-container{
    margin-bottom: 66px;
}
.about-headline{
font-style: normal;
margin-bottom: 17px;
font-weight: 700;
font-size: 20px;
line-height: 20px;

/* identical to box height */
letter-spacing: 1.1px;
text-transform: uppercase;

color: #232323;
}
.about-author img{
    margin-bottom: 22px;
}
.about-author p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.5px;

color: #232323;
}
.page-nav{
    margin: auto;
    margin-top: 23px ;
    display: flex;
    align-items: center;
    
}
.page-nav a{
text-decoration: none;
text-align: center;
margin-right: 29px;
color: #232323;
font-family: 'Mullish', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
letter-spacing: 1.5px;
}
.page-nav .page-selected p{
    background-color: #3D8B74;
    color: #FFFFFF;
    width: 26px;
    height: 26px;
    text-align: center;
    padding-top: 3px;
    font-weight: 800;
}

@media  screen and (min-width : 200px) and (max-width: 1250px) {
 main{
    flex-direction: column;
 }
 
 .content-sorter{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .content-sorter button{
    margin-left: auto;
    margin-right: auto;
 }
 
 @media  screen and (max-width: 700px) {
    .content-sorter{
        flex-wrap: wrap;

    }
    .content-sorter button{
        margin-right: auto;
        margin-left: auto;
    }
    
 }
 .content-section{
    margin: auto;
 }
 .content-section{
    align-items: center;
    width: 100%;
 }
.item-img{
    margin-bottom: 10px;
} 
 .content-item{
    flex-direction: column;
    margin: 0%;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
 }
 .item-text-box{
    width: 100%;
    align-items: center;
 }
 .item-headline{
    width: 80vw;
    text-align: center;
    margin-top: 10px;
 }
 .item-text{
    width: 80%;
 }
 .extra-section{
    margin: auto;
 }
 .tag-cloud h3{
    text-align: center;
 } 
 .about-headline{
    text-align: center;
 }
 .next-page-btn{
    margin-right: 0px;
 }

}
@media screen and (min-width: 800px) and (max-width: 1250px)  {
  .item-text{
    width: 50%;
  }  
}